<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tavolo">

  <joint name="tavolo_joint" type="fixed">
    <parent link="base_link"/>
    <child link="tavolo_link"/>
    <origin rpy="0 0 0" xyz="-0.5 -0.35 -1.75"/>
  </joint>

  <link name="tavolo_link">

    <!-- Visual geometry -->
    <visual name="visual">
      <geometry>
        <mesh filename="package://ur_description/meshes/tavolo/mesh/tavolo.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="LightGrey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>

    <!-- Base collision -->
    <collision name="base_collision">
      <origin xyz="0.5 0.4 0.85" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.8 0.04"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>10</mu>
            <mu2>10</mu2>
          </ode>
        </friction>
      </surface>
    </collision>

    <!-- Box collision -->
    <collision name="box_collision">
      <origin xyz="0.5 0.08 0.95" rpy="0 0 0"/>
      <geometry>
        <box size="1 0.15 0.15"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>10</mu>
            <mu2>10</mu2>
          </ode>
        </friction>
      </surface>
    </collision>

    <!-- Back collision -->
    <!-- <collision name="back_collision">
      <origin xyz="0.5 -0.02 1.35" rpy="1.57 0 0"/>
      <geometry>
        <box size="1 1.0 0.04"/>
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>10</mu>
            <mu2>10</mu2>
          </ode>
        </friction>
      </surface>
    </collision> -->

  </link>

</robot>
