<?xml version="1.0"?>

<model>
  <name>X1-Y4-Z1</name>
  <version>1.0</version>
  <sdf version="1.4">mesh_X1-Y4-Z1.sdf</sdf>

  <author>
    <name>Michele Focchi</name>
    <email>michele.focchi@unitn.it</email>
  </author>

  <description>
    This model represent the workbench for ur5
  </description>
</model>